/* Importowanie czcionek */
@font-face {
    font-family: chloe;
    src: url(/fonts/Chloe-Regular.otf);
}
@font-face {
    font-family: quicksand;
    src: url(/fonts/Quicksand-Regular.ttf);
}

/* Zmienne kolorów */
:root {
    --first-font-color: #fbf3e4;
    --second-font-color: #765c4b;
    --first-bg-color: var(--first-font-color);
    --second-bg-color: var(--second-font-color);
    --first-bg-color-opacity: #fbf3e4dc;
}

/* Komentarze */
/* Generalne */
* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Formularze */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Ciało */
body {
    color: var(--first-font-color);
    font-family: quicksand;
}

/* Nagłówek */
header {
    position: relative;
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
header *,
main *,
footer * {
    overflow-y: hidden;
}
.social-icons {
    display: flex;
    gap: 10px;
    width: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.social-icons > a {
    width: 100px;
}
.social-icons > a > img {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.social-icons > a > img:hover {
    transform: scale(1.2);
}
#logo {
    width: 350px;
    height: 400px;
    background-color: var(--first-font-color);
}

/* Sekcje */
section,
footer {
    padding: 50px 0;
}
h1,
h2,
h3 {
    font-size: 4rem;
    font-family: chloe;
}
h3 {
    font-size: 2.5rem;
}

/* Sekcja 1 */
#section1 {
    background-color: rgba(255, 0, 0, 0.468);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.section1-container {
    padding: 30px;
    background-color: var(--first-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.section1-container .left-side,
.section1-container .right-side {
    width: 50%;
    display: grid;
    place-items: center;
}
.section1-container .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section1-container .right-side p {
    width: 50%;
}
#catering-img,
#catering-info-img {
    width: 400px;
}

/* Sekcja 2 */
#section2 {
    background-attachment: fixed;
    color: var(--second-font-color);
    display: flex;
    justify-content: center;
}
#section2 > .container {
    background-color: var(--first-bg-color-opacity);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}
#section2 > .container > h2 {
    margin-top: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.item {
    padding: 20px;
    text-align: center;
}
.item img {
    border-radius: 10px;
    width: 400px;
}
.item h3 {
    margin: 10px 0;
}
.item h4 {
    margin-top: 5px;
    font-style: italic;
}
.item p {
    margin-top: 5px;
}

/* Sekcja 3 */
#section3,
#section4,
#section5 {
    display: flex;
    justify-content: center;
    color: var(--second-font-color);
}
#section3 > .container,
#section4 > .container,
#section5 > .container {
    width: 1000px;
    background-color: var(--first-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section3 > .container > h2,
#section4 > .container > h2,
#section5 > .container > .left-side > h2 {
    margin: 30px 0;
}
.flex-wrapper {
    width: calc(100% - 100px);
}
.flex-item {
    display: flex;
    justify-content: space-between;
}
.right-side {
    display: flex;
}

/* Sekcja 4 */
#section4 > .container {
    background-color: var(--second-bg-color);
}
#section4 > .container > p:first-of-type {
    margin: 0 50px;
}
#section4 > .container > p:nth-of-type(2) {
    margin: 30px 50px;
}

/* Sekcja 5 */
#section5 > .container {
    justify-content: space-between;
}
#section5 > .container > .left-side {
    color: var(--first-font-color);
    background-color: var(--second-bg-color);
    width: 40%;
}
#section5 > .container > .left-side > p {
    margin: 0 50px 30px;
}
#section5 > .container > .right-side {
    color: var(--second-font-color);
    background-color: var(--first-bg-color);
    width: 55%;
    padding: 30px;
}
.right-side > form {
    width: 100%;
    height: 100%;
}
.right-side > form > .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.input,
select {
    font-size: 1.1rem;
    border: 0;
    padding: 5px;
    border-bottom: var(--second-bg-color) 4px solid;
    transition: 0.2s ease-in-out;
}
.input:focus {
    color: var(--first-font-color);
    outline: 0;
    background-color: var(--second-bg-color);
}
select {
    height: 45px;
    width: 211px;
    border-radius: 0;
    background-color: #fff;
}
input[type="submit"] {
    width: 150px;
    height: 40px;
    grid-column: span 2;
    background-color: var(--second-bg-color);
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    color: var(--first-bg-color);
    cursor: pointer;
}
input[type="submit"]:hover {
    font-weight: 800;
}

/* Sekcja 6 */
#section6 {
    background-color: var(--second-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stopka */
footer {
    display: flex;
    justify-content: center;
}
footer > .container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--first-bg-color-opacity);
}
footer > .container > .flex-wrapper {
    display: flex;
    width: 100%;
    margin: 30px 0;
}
footer > .container > .flex-wrapper > .flex-item {
    width: 33.3%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
footer > .container > .flex-wrapper > .flex-item:first-of-type {
    background-color: var(--first-bg-color);
}
footer > .container > .flex-wrapper > .flex-item:nth-of-type(2) {
    background-color: #91aba5;
}
footer > .container > .flex-wrapper > .flex-item:nth-of-type(3) {
    background-color: var(--second-bg-color);
}
footer > .container > .flex-wrapper > .flex-item:nth-of-type(3) > .social-container {
    display: flex;
    gap: 20px;
}
footer > .container > .flex-wrapper > .flex-item:nth-of-type(3) > .social-container > img,
footer > .container > .flex-wrapper > .flex-item > img {
    width: 80px;
}
footer > .container > .flex-wrapper > .flex-item:first-of-type > p {
    color: var(--second-font-color);
}
footer > .container > .flex-wrapper > .flex-item:nth-of-type(2) > p {
    color: white;
}
footer > .container > .flex-wrapper > .flex-item:nth-of-type(3) > p {
    color: var(--first-font-color);
}

/* Card Flip */
.img-box {
    position: relative;
    cursor: pointer;
}
.card-back {
    position: absolute;
    top: 0;
    right: 0;
    animation: fadedown 0.3s ease-in-out both;
}
.img-box:hover .card-back {
    animation: fadeup 0.3s ease-in-out both;
}
@keyframes fadeup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}
@keyframes fadedown {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

/* Tu dodajemy brakujący kod z pierwszego arkusza */
.bg {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
