@font-face {
  font-family: chloe;
  src: url("../fonts/Chloe-Regular.otf");
}

@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand-Regular.ttf");
}

:root {
  --first-font-color: #fbf3e4;
  --second-font-color: #765c4b;

  --first-bg-color: var(--first-font-color);
  --second-bg-color: var(--second-font-color);
  --first-bg-color-opacity: #fbf3e4dc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1000vh;
  z-index: -10;
  background-image: url("images/bg-3.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header,
main,
footer,
header *,
main *,
footer * {
  overflow-y: hidden;
}

h1,
h2 {
  font-size: 4rem;
  font-family: chloe;
}

h3 {
  font-family: chloe;
  font-size: 2.5rem;
}

body {
  color: var(--first-font-color);
  font-family: quicksand;
}

/* header */

section,
footer {
  padding: 50px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.social-icons > a {
  width: 50px;
}

.social-icons > a {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.social-icons > a:hover {
  transform: scale(1.2);
}

header {
  padding: 100px 0 50px 0;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#arrows-img {
  position: absolute;
  bottom: 150px;
  left: 50%;
  animation: bouncing 2s ease-in-out alternate infinite;
  z-index: 100;
  cursor: pointer;
}

@keyframes bouncing {
  from {
    transform: translate(-50%, -50px);
  }
  to {
    transform: translate(-50%, 0px);
  }
}

#logo {
  width: 350px;
  height: 400px;
  background-color: var(--first-font-color);
}

/* section1 */

#section1 {
  background-color: var(--first-bg-color-opacity);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  color: var(--second-font-color);
}

.section1-container {
  padding: 30px;

  background-color: var(--first-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.section1-container .left-side,
.section1-container .right-side {
  width: 50%;
  display: grid;
  place-items: center;
}

.section1-container .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section1-container .right-side p {
  width: 50%;
}

#catering-img {
  width: 400px;
}

#catering-info-img {
  width: 400px;
}

/* section2 */

#section2 {
  color: var(--second-font-color);
  display: flex;
  justify-content: center;
}

#section2 > .container > h2 {
  margin-top: 30px;
}

#section2 > .container {
  background-color: var(--first-bg-color-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item {
  padding: 20px;
  text-align: center;
}

.item img {
  border-radius: 10px;
  width: 400px;
}

.item h3 {
  margin: 10px 0;
}

.item h4 {
  margin-top: 5px;
  font-style: italic;
}

.item p {
  margin-top: 5px;
}

/* section 3 */

#section3 {
  display: flex;
  justify-content: center;
  color: var(--second-font-color);
}

#section3 > .container {
  width: 1000px;
  background-color: var(--first-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section3 > .container > h2 {
  margin: 30px 0;
}

.flex-wrapper {
  width: calc(100% - 100px);
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

.right-side {
  display: flex;
}

/* section 4 */

#section4 {
  display: flex;
  justify-content: center;
  color: var(--first-font-color);
}

#section4 > .container {
  width: 1000px;
  background-color: var(--second-bg-color);
}

#section4 > .container > h2 {
  margin: 30px 0 20px 50px;
  font-size: 2.5rem;
}

#section4 > .container > p:first-of-type {
  margin: 0 50px 0 50px;
}

#section4 > .container > p:nth-of-type(2) {
  margin: 30px 50px 30px 50px;
}

/* section 5 */

#section5 {
  display: flex;
  justify-content: center;
}

#section5 > .container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

#section5 > .container > .left-side {
  color: var(--first-font-color);
  background-color: var(--second-bg-color);
  width: 40%;
}

#section5 > .container > .left-side > h2 {
  font-size: 2.5rem;
  margin: 30px 0 20px 50px;
}

#section5 > .container > .left-side > p {
  margin: 0 50px 30px 50px;
}

#section5 > .container > .right-side {
  color: var(--second-font-color);
  background-color: var(--first-bg-color);
  width: 55%;
  padding: 30px;
}

.right-side > form {
  width: 100%;
  height: 100%;
}

.right-side > form > .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.input {
  height: 30px;
  width: 200px;
  border: 0;
  padding: 5px;
  border-bottom: var(--second-bg-color) 4px solid;
  transition: 0.2s ease-in-out;
  font-size: 1.1rem;
}

.input:focus {
  color: var(--first-font-color);
  outline: 0;
  background-color: var(--second-bg-color);
}

select {
  font-size: 1.1rem;
  height: 45px;
  width: 211px;
  border-radius: 0;
  border: 0;
  padding: 5px;
  background-color: #fff;
  border-bottom: var(--second-bg-color) 4px solid;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
  grid-column: span 2;
  background-color: var(--second-bg-color);
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  color: var(--first-bg-color);
  cursor: pointer;
}
/* 
input[type="submit"]:hover {
  font-weight: 800;
} */

/* section6 */

#section6 {
  background-color: var(--second-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  color: var(--second-font-color);
}

footer > .container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--first-bg-color-opacity);
}

footer > .container > .flex-wrapper {
  display: flex;
  width: 100%;
  margin: 30px 0;
}

footer > .container > .flex-wrapper > .flex-item {
  width: 33.3%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

footer > .container > .flex-wrapper > .flex-item:first-of-type {
  background-color: var(--first-bg-color);
}

footer > .container > .flex-wrapper > .flex-item:nth-of-type(2) {
  background-color: #91aba5;
}

footer > .container > .flex-wrapper > .flex-item:nth-of-type(3) {
  background-color: var(--second-bg-color);
}

footer
  > .container
  > .flex-wrapper
  > .flex-item:nth-of-type(3)
  > .footer-social-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer
  > .container
  > .flex-wrapper
  > .flex-item:nth-of-type(3)
  > .footer-social-container
  > img {
  height: 80px;
}

footer > .container > .flex-wrapper > .flex-item > img {
  width: 80px;
}

footer > .container > .flex-wrapper > .flex-item:first-of-type > p {
  color: var(--second-font-color);
}

footer > .container > .flex-wrapper > .flex-item:nth-of-type(2) > p {
  color: white;
}

footer > .container > .flex-wrapper > .flex-item:nth-of-type(3) > p {
  color: var(--first-font-color);
}

/* card flip */

.img-box {
  position: relative;
  cursor: pointer;
}

.card-back {
  position: absolute;
  top: 0;
  right: 0;
  animation: fadedown 0.3s ease-in-out both;
}

.img-box:hover .card-back {
  animation: fadeup 0.3s ease-in-out both;
}

@keyframes fadeup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes fadedown {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

/* responsive */
@media only screen and (width <= 900px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-back {
    animation: none;
    opacity: 0.8;
  }
  .section1-container {
    display: block;
  }
  .section1-container .left-side,
  .section1-container .right-side {
    width: 100%;
  }

  #section5 > .container {
    display: block;
    width: 100vw;
  }

  #section5 > .container > .left-side {
    width: 100%;
  }

  #section5 > .container > .right-side {
    width: 100vw;
    padding: 30px 0;
  }

  .right-side > form > .grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  .right-side > form > .grid-wrapper > .grid-item {
    width: 80%;
  }
  .right-side > form > .grid-wrapper > .grid-item .input,
  .right-side > form > .grid-wrapper > .grid-item select {
    width: 100%;
  }

  footer > .container > .flex-wrapper {
    flex-direction: column;
  }
  footer > .container > .flex-wrapper > .flex-item {
    padding: 0;
    text-wrap: wrap;
    width: 100%;
    aspect-ratio: 4/1;
    padding: 20px 0;
  }

  .bg {
    background-image: url("images/bg-phone.jpg");
  }
}

@media only screen and (width <= 460px) {
  h1,
  h2 {
    font-size: 3rem;
    font-family: chloe;
  }
  #catering-img {
    width: 300px;
  }

  #catering-info-img {
    width: 300px;
  }
  .item img {
    width: 300px;
  }
  #section2 > .container {
    background-color: transparent;
  }
  #section2 > .container > h2,
  #section2 > .container > p {
    background-color: var(--first-bg-color-opacity);
    padding: 10px;
    border-radius: 10px;
  }

  footer > .container > .flex-wrapper > .flex-item {
    padding: 0;
    text-wrap: wrap;
    width: 100%;
    aspect-ratio: 2/1;
    padding: 20px 0;
  }
}
